<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  If you have questions for the author of this implementation of the tutorial's you can contact Rodney Earl at rodney.earl@alumni.ubc.ca.
  For more contact information in regards to this sample app, visit the Ruby on Rails Tutorial <a href="http://railstutorial.org/contact">contact page</a>.
</p>
