<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  If you have questions for the author of this implementation of the tutorial's you can contact Rodney Earl at rodney.earl@alumni.ubc.ca.
</p>
